@{
    var articleList = ViewBag.ArticleList;
}
<div class="newslist_bar">
    <ul class="newslist">
        @(articleList.Count == 0 ? "暂无信息" : string.Empty)
        @foreach (var item in articleList)
        {
            <li>
                <div class="channel_newslist_l">
                    <a href="@item.Url" title="@item.Title">@item.Title</a></div>
                <p class="channel_newsdate">
                    @item.PublishDateTime.ToString("yyyy-MM-dd")</p>
                <span class="clear"></span></li>
        }
    </ul>
    <span class="box_20"></span>
    @Html.Raw(XFramework.Common.PagerBarHelper.Render(articleList.PageIndex, articleList.PageSize, articleList.TotalItemCount, new { @class = "pagebar" }))
</div>
